<%= form_for [spree, :admin, @spree_dynamic_bmsm_group] do |f| %>
  <% if @spree_dynamic_bmsm_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spree_dynamic_bmsm_group.errors.count, "error") %> prohibited this spree_dynamic_bmsm_group from being saved:</h2>

      <ul>
      <% @spree_dynamic_bmsm_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
