<%= render "spree/shared/error_messages", :target => @spree_dynamic_bmsm_group %>

<%= form_for [spree, :admin, @spree_dynamic_bmsm_group] do |f| %>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.select :number, [nil, 1,2,3,4] %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
