<h1>Listing dynamic bmsm groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spree_dynamic_bmsm_groups.each do |dynamic_bmsm_group| %>
      <tr>
        <td><%= dynamic_bmsm_group.name %></td>
        <td><%= dynamic_bmsm_group.description %></td>
        <td><%= link_to 'Show', admin_dynamic_bmsm_group_path(dynamic_bmsm_group) %></td>
        <td><%= link_to 'Edit', edit_admin_dynamic_bmsm_group_path(dynamic_bmsm_group) %></td>
        <td><%= link_to 'Destroy', dynamic_bmsm_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spree dynamic bmsm group', new_admin_dynamic_bmsm_group_path %>
