<h1>DBMSM Groups</h1>
<%= link_to 'Create Group', new_admin_dynamic_bmsm_group_path %>
|
<%= link_to 'Manage Tiers', admin_dynamic_bmsm_tiers_path %>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spree_dynamic_bmsm_groups.each do |dynamic_bmsm_group| %>
      <tr>
        <td><%= dynamic_bmsm_group.number %></td>
        <td><%= dynamic_bmsm_group.name %></td>
        <td><%= dynamic_bmsm_group.description %></td>
        <td>
          <%= link_to 'Users', users_admin_dynamic_bmsm_group_path(dynamic_bmsm_group) %>
          |
          <%= link_to 'Edit', edit_admin_dynamic_bmsm_group_path(dynamic_bmsm_group) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
