<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spree_dynamic_bmsm_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spree_dynamic_bmsm_group.description %>
</p>

<%= link_to 'Edit', edit_admin_dynamic_bmsm_group_path(@spree_dynamic_bmsm_group.id) %> |
<%= link_to 'Back', admin_dynamic_bmsm_groups_path %>
