<h1>User Groups</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spree_dynamic_bmsm_group_users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= @spree_dynamic_bmsm_group[user.spree_dynamic_bmsm_group_id].name %></td>
        <td><%= collection_select :dynamic_bmsm_group_id,
                            @spree_dynamic_bmsm_groups,
                            :id,
                            :name,
                            :prompt => true
            %>
        </td>
        <td><%= link_to 'Groups', admin_dynamic_bmsm_groups_path %></td>
        <td><%= link_to 'Tiers', admin_dynamic_bmsm_tiers_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spree dynamic bmsm group', new_admin_dynamic_bmsm_group_path %>
