<%= render "spree/shared/error_messages", :target => @spree_dynamic_bmsm_tier %>

<%= form_for [:admin, @spree_dynamic_bmsm_tier] do |f| %>
  <div class="field">
    <%= f.label :bmsm_groups %><br>
    <%= f.collection_select :dynamic_bmsm_group_id,
                            Spree::DynamicBmsmGroup.all,
                            :id,
                            :number,
                            :prompt => true
    %>
  </div>
  <div class="field">
    <%= f.label :label, "Internal Label" %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :level, "Order Total Threshold" %><br>
    <%= f.text_field :level %>
  </div>
  <div class="field">
    <%= f.label :discount, "Discount %" %><br>
    <%= f.text_field :discount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
