<h1>DBMSM Tiers</h1>

<%= link_to 'Create New Tier', new_admin_dynamic_bmsm_tier_path %>
|
<%= link_to 'Manage Groups', admin_dynamic_bmsm_groups_path %>

<table>
  <thead>
    <tr>
      <th>Group #</th>
      <th>Internal Label</th>
      <th>Order Total Threshold</th>
      <th>Discount %</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spree_dynamic_bmsm_tiers.each do |dynamic_bmsm_tier| %>
      <tr>
        <td><%= dynamic_bmsm_tier.dynamic_bmsm_group.number %></td>
        <td><%= dynamic_bmsm_tier.label %></td>
        <td><%= number_to_currency(dynamic_bmsm_tier.level) %></td>
        <td><%= dynamic_bmsm_tier.discount %>%</td>
        <td>
          <%= link_to 'Edit', edit_admin_dynamic_bmsm_tier_path(dynamic_bmsm_tier) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
