<p id="notice"><%= notice %></p>

<p>
  <strong>Spree dynamic bmsm groups:</strong>
  <%= @spree_dynamic_bmsm_tier.spree_dynamic_bmsm_groups %>
</p>

<p>
  <strong>Label:</strong>
  <%= @spree_dynamic_bmsm_tier.label %>
</p>

<p>
  <strong>Level:</strong>
  <%= @spree_dynamic_bmsm_tier.level %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @spree_dynamic_bmsm_tier.discount %>
</p>

<%= link_to 'Edit', edit_spree_dynamic_bmsm_tier_path(@spree_dynamic_bmsm_tier) %> |
<%= link_to 'Back', spree_dynamic_bmsm_tiers_path %>
